<header class="site-header" role="banner">
    <div class="wrapper" style="background-image: url('https://github.com/odersky/misc/blob/main/scala-stairs.png?raw=true'); height: 200px; background-size: cover; background-position: center;">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger">
                <span class="menu-icon">
                    <svg viewBox="0 0 18 15" width="18px" height="15px">
                        <path d="M1,1 L17,1 L17,3 L1,3 L1,1 Z M1,6 L17,6 L17,8 L1,8 L1,6 Z M1,11 L17,11 L17,13 L1,13 L1,11 Z"/>
                    </svg>
                </span>
            </label>
            <div class="trigger">
                {% if site.pages_list %}
                <ul class="menu">
                    {% for page in site.pages_list %}
                    <li><a href="{{ page.url | relative_url }}" class="{% if page.url == page.url %}current{% endif %}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>
</header>